body {margin: 0; padding: 0; overflow: hidden;}

.overlays {
    isolation: 'isolate';
}

.overlays canvas {
    mix-blend-mode: multiply;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: #fff;
    background: #111;
    overflow: hidden;
}

a:hover {
    text-decoration: underline;
}
.mapboxgl-control-container {
  display: none;
}

.background {
  background: '#2e3440'
}
.base {
  background: '#3b4252'
}
.foreground {
  background: '#d8dee9'
}

.selected {
  text-decoration: underline;
  color: rgb(46, 124, 246) !important;
}
